@font-face {
  font-family: 'iconfont';  /* Project id 3749645 */
  src: url('//at.alicdn.com/t/c/font_3749645_407exphaox.eot?t=1667981096443'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3749645_407exphaox.eot?t=1667981096443#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3749645_407exphaox.woff2?t=1667981096443') format('woff2'),
       url('//at.alicdn.com/t/c/font_3749645_407exphaox.woff?t=1667981096443') format('woff'),
       url('//at.alicdn.com/t/c/font_3749645_407exphaox.ttf?t=1667981096443') format('truetype'),
       url('//at.alicdn.com/t/c/font_3749645_407exphaox.svg?t=1667981096443#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}