@font-face {
  font-family: 'iconfont';  /* Project id 3749645 */
  src: url('//at.alicdn.com/t/c/font_3749645_9cidd3njdot.eot?t=1667725702512'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3749645_9cidd3njdot.eot?t=1667725702512#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3749645_9cidd3njdot.woff2?t=1667725702512') format('woff2'),
       url('//at.alicdn.com/t/c/font_3749645_9cidd3njdot.woff?t=1667725702512') format('woff'),
       url('//at.alicdn.com/t/c/font_3749645_9cidd3njdot.ttf?t=1667725702512') format('truetype'),
       url('//at.alicdn.com/t/c/font_3749645_9cidd3njdot.svg?t=1667725702512#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}