@font-face {
  font-family: 'iconfont';
  /* Project id 3749645 */
  src: url('//at.alicdn.com/t/c/font_3749645_tqal0mbktpk.eot?t=1667536119566');
  /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3749645_tqal0mbktpk.eot?t=1667536119566#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/c/font_3749645_tqal0mbktpk.woff2?t=1667536119566') format('woff2'),
    url('//at.alicdn.com/t/c/font_3749645_tqal0mbktpk.woff?t=1667536119566') format('woff'),
    url('//at.alicdn.com/t/c/font_3749645_tqal0mbktpk.ttf?t=1667536119566') format('truetype'),
    url('//at.alicdn.com/t/c/font_3749645_tqal0mbktpk.svg?t=1667536119566#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}